.full-height {
  height: 100%;
}

#question-tags .badge {
  margin-right: 4px;
}

#user-tags .btn-group .btn {
  font-weight: bold;
}

#user-tags .btn-group>.btn:not(:last-child) {
  border-top-left-radius: 50rem;
  border-bottom-left-radius: 50rem;
  padding-right: 2px;
  margin-left: 8px;
  cursor: default;
}

#user-tags .btn-group>.btn:not(:first-child) {
  border-top-right-radius: 50rem;
  border-bottom-right-radius: 50rem;
}

#codeEditor {
  width: 100% !important;
}

.hint {
  font-size: 0.6em;
  margin: auto;
  opacity: 70%;
}


.hint {
  font-size: 0.6em;
  margin: auto;
  opacity: 70%;
}

.card-solution pre {
  margin: 0 !important;
  font-size: 8pt !important;
}

.autocompletions {
  list-style-type: none;
  position: absolute;
  z-index: 1000;
  max-height: 25em;
  max-width: 250px;
}

.autocompletions > li {
  color: #198754;
}

.autocompletions li:hover, .autocompletions .selected {
  background-color: #198754;
  color: #f8f9fa;
}

#tags > .row {
  margin-left: 0;
}
